* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overwiev {
    background: #ff1b68;
    width: 100%;
    height: 500px;
    padding: 10px;
}

#product-overwiev h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf5c;
}

.main-header {
    width: 100%;
    padding: 8px 16px; 
    background: #2ddf5c;
}

.main-nav__item {
    display: inline-block;
}