main {
    padding: 32px;
}

.background {
    background: url("../images/plans-background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
}

.main-section {
    width: 80%;
    border: 4px solid #0e4f1f;
    margin: 16px 0;
    position: relative;
}

.main-section a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.main-section:hover, 
.main-section:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.main-section__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454; 
    padding: 8px;
}

.main-section__subtitle {
    color: #979797;
}

.main-section__description {
    color: #0e4f1f;
    border: 1px solid #0e4f1f;
    padding: 16px;
    font-size: 20px;
    background: white;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background:rgba(234, 252, 237, 0.95);
    float: right;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .main-section__title {
    color: white;
}

#premium .main-section__subtitle {
    color: #bbb;
}

